<div class="col-lg-3" data-controller="shipments" >
    <div class="left-sidebar">
        <div class="accordion" id="accordionExample">
            <div class="card mt-4">
                <a data-toggle="collapse" href="#collapseOne" class="job-list" aria-expanded="true" aria-controls="collapseOne">
                    <div class="card-header" id="headingOne">
                        <h6 class="mb-0 text-dark f-18"> Type</h6>
                    </div>
                </a>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                    <div class="card-body p-0">
                        <div class="custom-control custom-checkbox">
                            <input data-action="change->ajax#handleChange" type="checkbox" class="custom-control-input all-select" id="customCheckAll" value="review">
                            <label class="custom-control-label ml-1 text-muted f-15" for="customCheckAll">Review</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input all-select" id="customCheck22" value="accept">
                            <label class="custom-control-label ml-1 text-muted f-15" for="customCheck22">Accept</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input all-select" id="customCheck23" value="transit">
                            <label class="custom-control-label ml-1 text-muted f-15" for="customCheck23">Transit</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input all-select" id="customCheck3" value="delivered">
                            <label class="custom-control-label ml-1 text-muted f-15" for="customCheck3">Delivered</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input all-select" id="customCheck3" value="All">
                            <label class="custom-control-label ml-1 text-muted f-15" for="customCheck3">All</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>